<div class="about-wrapper">
  <div class="heading-wrapper">
    <p class="p">
      My<br />
      Story<span class="colon">:</span><br />
    </p>
  </div>
  <div class="image-outer-wrapper">
    <div class="image-wrapper">
      <img src="assets/images/about/rizwan-photo.svg" />
    </div>
  </div>

  <div class="description-wrapper">
    <p>
      It was Winter Semester, 2011, I wrote the first line of code in C++. Fast
      Forward after 9 years in December, 2020, I finally decided my career and
      future into Web Development. Why?
    </p>
    <p>
      Yes, It’s about challenges, growth and life. I found web as a way to
      fulfill my passions of product building.
    </p>
  </div>

  <div class="skills-wrapper">
    <p class="heading">Tech Stack</p>
    <ul class="ul">
      <li>－ JavaScript</li>
      <li>－ TypeScript</li>
      <li>－ Angular</li>
      <li>－ Node JS (Express and Nest JS )</li>
      <li>－ databases (SQL and MongoDB)</li>
      <li>－ Angular Material - Material Design</li>
      <li>－ CSS and SCSS</li>
      <li>－ Docker and Docker-Compose</li>
      <li>－ GitLab CI/CD</li>
    </ul>
  </div>

  <div class="education-wrapper">
    <p class="heading">Education</p>
    <ul class="ul">
      <li>MS － 2011-2015 － TU Munich Germany</li>
      <li>BS － 2016-2018 － GIKI Pakistan</li>
    </ul>
  </div>
</div>
