<div class="about-wrapper">
  <div class="heading-wrapper">
    <h1>
      My<br />
      Story<span class="colon">:</span><br />
    </h1>
  </div>
  <div class="image-outer-wrapper">
    <div class="image-wrapper">
      <img src="assets/images/about/rizwan-photo.svg" />
    </div>
  </div>

  <div class="description-wrapper">
    <p>
      It was Winter Semester, 2011, I wrote the first line of code in C++. Fast
      Forward after 9 years in December, 2020, I finally decided my career and
      future into Web Development. Why?
    </p>
    <p>
      Yes, It’s about challenges, growth and life. I found web as a way to
      fulfill my passions of product building.
    </p>
  </div>

  <div class="skills-wrapper">
    <h2 class="heading">Tech Stack</h2>
    <ul class="ul">
      <li>－ JavaScript</li>
      <li>－ TypeScript</li>
      <li>－ Angular</li>
      <li>－ Node JS (Express and Nest JS )</li>
      <li>－ databases (SQL and MongoDB)</li>
      <li>－ Angular Material - Material Design</li>
      <li>－ CSS and SCSS</li>
      <li>－ Docker and Docker-Compose</li>
      <li>－ GitLab CI/CD</li>
    </ul>
  </div>

  <div class="fun-facts-wrapper">
    <h2 class="heading">3 Fun Facts</h2>
    <ol class="ul">
      <li>I enjoy eating desi food.</li>
      <li>
        Ultimately, I found myself in love with developing software Products.
      </li>
      <li>
        I enjoy reading book: "7 Habits of Highly Effective People" by Stephen
        R. Covey.
      </li>
    </ol>
  </div>
</div>
