.projects-wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .projects-header {
    width: 10rem;
    height: 4rem;
    margin: 3rem 0 3rem 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .projects-body {
    color: black;
  }
}
