<div class="component-wrapper">
  <div class="hamburger-wrapper">
    <div
      class="hamburger hamburger--slider"
      [ngClass]="{ 'is-active': isOpen }"
      (click)="clicked()"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
  </div>

  <div class="navbar-wrapper">
    <ul class="ul">
      <li>
        <a>
          <div class="logo-wrapper">
            <img src="assets/images/nav-bar/favicon.ico" alt="logo" />
          </div>
        </a>
      </li>
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>

  <div *ngIf="isOpen" class="menu-wrapper">
    <div class="menu-body">
      <ul>
        <li (click)="scrollToLandingPage()"><a>Home</a></li>
        <li (click)="scrollToProjects()"><a>About</a></li>
        <li (click)="scrollToResume()"><a>Work</a></li>
      </ul>
    </div>
  </div>
</div>
