/**************************
 Mobile First css start
*************************/
.footer-wrapper {
  max-width: 1440px;
  margin: 0 auto;

  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
}
/**************************
 Mobile First css end
*************************/
/**************************
 Responsive css starts
*************************/
@media screen and (min-width: 767px) {
  .footer-wrapper {
    height: 72px;
  }
}
/**************************
 Responsive css ends
*************************/
