<div class="home-background-wrapper"></div>
<div class="home-content-wrapper">
  <div class="image-container">
    <img src="../../assets/rizwanPhoto.jpg" alt="rizwan photo" />
  </div>
  <div class="intro-container">
    Hi I'm Rizwan👋 <br />
    Front-End Web Developer
  </div>
  <div class="contact-icon-container">
    <div (click)="gotoLinkedIn()">
      <img src="../../assets/linkedin.svg" alt="linkedIn icon" />
    </div>
    <div (click)="gotoGithub()">
      <img src="../../assets/github.svg" alt="github icon" />
    </div>
  </div>
</div>
